/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: rgba(255, 241, 247, 1);
  --bg-image: url(../images/cover-image-light.png);
  --arrow-color: rgba(53, 52, 48, 1);
  --header-logo-color: rgba(255, 194, 230, 1);
  --footer-logo-color: rgba(255, 194, 230, 1);
  --text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --section-heading-color: rgba(53, 52, 48, 1);
  --nav-color: rgba(53, 52, 48, 1);
  --nav-hover-border-color: rgba(50, 49, 45, 0.4);
  --link-focus-color: rgba(53, 52, 48, 1);
  --text-link-clor: rgba(53, 52, 48, 1);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgba(255, 241, 247, 1);
    --bg-image: url(../images/cover-image-light.png);
    --arrow-color: rgba(53, 52, 48, 1);
    --header-logo-color: rgba(255, 194, 230, 1);
    --footer-logo-color: rgba(255, 194, 230, 1);
    --text-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --section-heading-color: rgba(53, 52, 48, 1);
    --nav-color: rgba(53, 52, 48, 1);
    --nav-hover-border-color: rgba(50, 49, 45, 0.4);
    --link-focus-color: rgba(53, 52, 48, 1);
    --text-link-clor: rgba(53, 52, 48, 1);
  }

  .header__rec {
    display: none;
  }
}



.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

